nav ul{
    float: right;
}
nav ul li{
    display: inline;
}

nav ul li a{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover{
    text-decoration: none;
}

.submit-btn{
    color: white; background: #ff0000db; border: 1px; border-radius: 5px;
}

section{
    margin-top: 120px;
}

.commenter-details{
    color: #00000094;
}

.comment-id, .commenter-name{
    font-size: 16px;
    font-weight: 700;
}

.comment{
    font-size: 14px;
    color: #00000094;    
}

.upvote-downvote{
    margin-top: 14px;
    font-size: 12px;    
    color: #00000094;
    font-weight: 600;
}