nav ul{
    float: right;
}
nav ul li{
    display: inline;
}

nav ul li a{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover{
    text-decoration: none;
}

.submit-btn{
    color: white; background: #ff0000db; border: 1px; border-radius: 5px;
}